# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working

AddType text/x-component .htc
Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /newminang/
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>